@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primario: #071952;
    --color-secundario: #088395;
    --color-terciario: #37b7c3;
    --color-hover: #ebf4f6;


    --fuente-monserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;


}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    height: 100vh;
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600px;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

}

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion__contenido__texto {
    font-size: 1.5rem;
    font-family: var(--fuente-monserrat);
}

.presentacion__enlaces {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo {
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-size: 1.5rem;
}

.presentacion__enlaces__link {
    /* background-color: #22D4FD; */
    border: 2px solid var(--color-terciario);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-monserrat);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.presentacion__enlaces__link:hover {
    background-color: var(--color-hover);
    border: 2px solid: var(var(--color-hover));
    cursor: pointer;
}

.presentacion__imagen {
    width: 50%;

}

.footer {
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 400px;

}

.img {
    width: 400px;
    height: 400px;
}

@media (max-width: 1200px){

    .header{
        padding: 10%;

    }

    .header__menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;

    }
    .presentacion__contenido{
        width: auto;
    }
}